@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'roboto', sans-serif;
}

.topo{
    width: 100%;
    padding: 12px 20px;

}

.topo-left{
    float: left;
}

.icone-left{
    float: left;
}

.image-left{
    width: 100%;
    max-width: 80px;
    margin-left: 20px;
}

.search-topo{
    float: left;
    padding: 6px 10px;
    width: 100%;
    max-width: 500px;
    margin-left: 120px;
    margin-top: -4px;
    outline-color: blue;
}

.butonSearch{
    float: left;
    padding: 6px 25px;
    margin-top: -4px;
    color: gray;
}

.mic-topo{
    float: left;
    margin-left: 20px;
    color: rgb(109, 109, 109);
    font-size: 20px;
}

.grip-topo{
    float: left;
    margin-left: 220px;
    color: black;
    font-size: 20px;
}

.grip-vertical-topo{
    float: left;
    margin-left: 35px;
    color: black;
    font-size: 20px;
}

.login-topo{
    float: left;
    margin-left: 35px;
    padding: 10px 20px;
    color: blue;
    border: 1px solid blue;
    background: white;
    font-weight: bold;
    margin-top: -8px;
}

.user-login{
    color: blue;
    font-size: 20px !important;
    float: left;
    margin-right: 5px;
    margin-top: -3px;
}

.lateral{
    width: 100%;
    max-width: 230px;
    height: 1000px;
    float: left;
}

.item-lateral{
    width: 190px;
    padding: 9px 12px;
    color: #616161;
    font-weight: bold;
    background: #e6e6e6;
    font-size: 15px !important;
    margin-top: 20px;
}

.icone-lateral{
    color: red;
    font-size: 18px;
    float: left;
    margin-left: 10px;
    margin-right: 25px;
}